.content {
  opacity: 60%;
  position: relative;
  height: 60%;
  left: 15%;
  width: 50%;
  background-color: rgb(35, 35, 35);
  backdrop-filter: blur(140px);
  border: 0.4rem outset #16a34a;
  box-shadow: 5px 5px 10px grey;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.content:hover {
  opacity: 100%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

#stdin {
  padding-left: 10px;
  color: #4ade80;
  line-height: 10px;
}

.text {
  animation: 1s ease-in-out infinite blinker;
  -webkit-animation: 1s ease-in-out infinite blinker;
}

@keyframes blinker {
  50% {
    opacity: 15%;
  }
}

#terminal-tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-direction: row;
  background-color: rgba(120, 120, 120, 30%);
  border-bottom: 1px solid grey;
}
#terminal-tabs a.active {
  color: white;
}

.terminal-panels {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 75%;
}

.terminal-panels a {
  padding-left: 1vh;
  flex: 1;
  color: #4ade80;
  border-right: 1px solid #16a34a;
  font-size: 1vw;
  padding: 3px 3vh;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.terminal-buttons {
  display: flex;
  justify-content: flex-end;
}

.terminal-buttons button {
  height: 27px;
  width: 27px;
  color: #4ade80;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
