#home-card {
  padding: 15px 10px;
}

h2 {
  color: #4ade80;
}

footer {
  position: fixed;
  display: flex;
  padding: 0.5em 2em;
  width: 100%;
  bottom: 0;
  color: #f0fdf4;
  text-shadow: 0 0 5px #4ade80;
  align-items: flex-end;
  justify-content: space-around;
}

#window {
  flex: 1;
  text-align: start;
}

#clock {
  flex: 1;
  font-size: 42px;
  text-align: right;
}

#copyright {
  text-align: center;
  flex: 1;
  color: #fff;
  font-size: 1em;
}

#window button {
  background: rgb(30, 30, 30);
  color: #4ade80;
  font-size: 15px;
  padding: 1em;
  border-radius: 10px;
  border: 1px solid #4ade80;
  cursor: pointer;
  transition: transform 0.5s;
}

#window button:hover {
  box-shadow: inset 4px 4px 6px -1px rgb(30, 30, 30),
    inset -4px -4px 6px -1px #14532d;
  transform: translateY(-0.5em);
  -webkit-transform: translateY(-0.5em);
  -moz-transform: translateY(-0.5em);
  -ms-transform: translateY(-0.5em);
  -o-transform: translateY(-0.5em);
}
