.conBar {
  height: 4rem;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  font-size: 32px;
  z-index: 3;
  padding: 2rem 1rem;
}

.lightMode {
  justify-content: flex-start;
  margin: 1rem;
  left: 0;
}
.ConList {
  justify-content: flex-end;
  position: absolute;
  right: 0;
  height: auto;
}
.conBarItem {
  margin: 1rem;
  cursor: pointer;
  color: black;
}
