.navbar {
  top: 50%;
  width: 150px;
  left: 40px;
  margin: 0 auto;
  position: fixed;
}

.navbar a {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 300;
  font-size: 25px;
  color: #4ade80;
}
