.navbar {
  top: 40%;
  width: 150px;
  left: 40px;
  margin: 0 auto;
  position: fixed;
}

.navbar ul li {
  line-height: 45px;
}

.navbar a {
  font-weight: 300;
  font-size: 25px;
  color: #4ade80;
  transition: 0.5s;
}

.navbar a:hover {
  font-weight: 300;
  font-size: 25px;
  color: #f0fdf4;
  text-shadow: #4ade80 0 0 15px;
  transition: 0.05s;
  -webkit-transition: 0.05s;
  -moz-transition: 0.05s;
  -ms-transition: 0.05s;
  -o-transition: 0.05s;
}
